*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
/* Task 1 */
#categories {
  font-family: 'Montserrat', sans-serif;
}
.item {
  margin: 24px auto;
  background: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: auto;
}
h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.item ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 8px;
  padding: 8px 16px;
}
/* Task 2 */

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 24px;
}

.gallery img {
  height: 300px;
  object-fit: cover;
}
/* Task 3 */
#name-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  margin-bottom: 16px;
}
h1,
#name-output {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
/* Task 4 */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin: 8px 0;
  transition: border-color cubic-bezier(0.075, 0.82, 0.165, 1);
  outline: none;
}
input:hover,
input:focus,
input:active {
  border-color: #808080;
}
.login-form button {
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 8px;
  transition: background cubic-bezier(0.075, 0.82, 0.165, 1);
}
.login-form button:hover,
.login-form button:focus {
  background: #6c8cff;
}
/* Task 5 */
.widget {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 100px auto;
  border-radius: 8px;
  padding: 100px 88px;
  width: 345px;
  height: 280px;
  background: #fff;
}
.widget p,
.color {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.widget .change-color {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
